
.page-container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comic Sans MS';
}

.login-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.register-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tweets-container {
    position: relative;
    float: left;
}

.tweet {
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    margin-bottom: 4px;
    height: 60px;
    width: 400px;
    padding-top: 10px;
    padding-left: 5px;
}

.tweet:hover {
    background-color: aliceblue;
    border-color: darkgray;
}

.tweet-like {
    float: right;
    margin-right: 5px;
    background-color: magenta;
    border-style: none;
    border-radius: 5px;

}

.logout-button {
    float: right;
}

.profile-picture {
    width: 50px;
}

.users-container {
    float: right;
    width: 400px;
    height: 500px;
    background-color: azure;
}
